name: 构建推送

on:
  push:
    tags:
    - 'v*'

jobs:
  authdl:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: "{{defaultContext}}"
        file: ./Dockerfile
        push: true
        build-args: |
          VERSION=${{ github.ref_name }}
        tags: |
          qvgz/authdl:latest
          qvgz/authdl:${{ github.ref_name }}
